.flex-container {
    width: 120px;
    height: 120px;
    border: 1px solid #333;
    display: flex;
	padding: 40px 90px;
    }
.flex-container nav {
    width: 120px; height: 120px;
    border-radius: 50%;
   }
.red { background: red; }