 .c:before {margin-right: 10px;
    }
 .piki:before {
    content: "\2660";  /* dobavlaem pered abzacem simvol piki */
	}
 .trefy:before {
    content: "\2663";	
	}
 .bubny:before {
    content: "\2665"; 
    color: #FF0000;
	}
 .chervy:before {
    content: "\2666";
    color: #FF0000;	
	}
 
