body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #fff; /* Цвет фона */
    margin: 0; /* Убираем отступы */
   }
h1, h2 {
    color: #737083; /* Цвет текста */
    margin: 0; /* Отступ снизу */
   }
header {
    background: #ccc; /* background color */
    color: #666; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
	position: relative; /* Относительное позиционирование */
	text-align: center;
   }
.all {
    width: 1206px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    position: relative; /* Относительное позиционирование */	
   }
   article {
    margin-right: 130px; /* Отступ справа */
    padding: 10px; /* Поля вокруг текста */
    border-right: 1px dashed #183533; /* Линия справа */
   }
   article p {
    margin-top: 0.3em; /* Отступ сверху */
   } 
.footer_columns_width {
    color: #fff;
    width: 1206px;
    height: 200px;
    background: #33363b; /* Цвет фона */
    color: #fff; /* text color */    
    display: block;    
   }
.footer_column { 
    float: left;
    width: 25%;
	padding: 5px; /* Отступы вокруг текста */
    padding-right: 20px;
    box-sizing: border-box;
    } 
.footer__column-icons {
    margin-bottom: 6px;
    text-align: left;
	}
.footer__column-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 10px 0;
	}
.footer__social-item_ok {
    background-image: url(../images/site1/icon_f.png);
    
    width: 27px;
    height: 27px;
	}
.copyright {      
	background: #202022; /* background color */
    color: #737083; /* text color */
    padding: 5px 50px; /* padding around text */
	text-align: right;	
   }	
.link_footer { 
    text-decoration: none;
    color: #fff;
}