body {   
	margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    }
.page {
    background: #fff;
    min-width: 1000px;
    }

.width-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 1100px;
    }
.widescreen .width-wrapper {
    width: 1206px;
}	
div {
    display: block;
    }  

.header {
    background-color: #fff;
    margin-bottom: 17px;
    }
.usp_top {
    background: #e4e4e6;
	position: relative;
    color: #747184;
    padding: 0;
	min-height: 40px;
    }
.usp__item_left {
    float: left;   
    }
.usp__item_right {
    float: right;
    }
.usp_item {    
	padding: 10px 0;
	}
.usp__item-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    }
.usp__item-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
	color: #747184;
    }
.usp__social-item_fb {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -398px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_tw {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -454px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_vk {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -202px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_ok {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -286px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_gl {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -510px;
    width: 27px;
    height: 26px;
    }
.usp__column-icon {
    display: inline-block;
    vertical-align: middle;
    }
	
.logo-line-wrapper {
    min-height: 100px;
    text-align: center;
    position: relative;
    z-index: 12;
	}
.header__logo { 
    color: #747184;
    margin-right: 180px;
	padding-top: 20px;
    }
.header__logo_image {
    background-image: url(../images/site1/sprite.png);
    background-position: 0px 0px;
    width: 180px;
    height: 55px;
	position: absolute;
    top: 20px;
	}
.header__logo_title {
    font-size: 30px;     	
	}
.header__logo_text {
    font-size: 16px;
	margin-top: 20px;
	word-spacing: -1px;
	}
.user-number {    
    position: absolute;
    right: 20px;
    top: 0px;
    }          /* telefon number */

.uspii__item-number {
    display: inline-block;
    margin-left: 10px;
	padding-top: 20px;
    }
.uspii__item-text {
    color: #f39438;
 	font-size: 25px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
    }
.user-number_text {
    display: inline-block;
    color: #747184;
	text-align: left;
	vertical-align: middle;
    }
.uspii__item-number:before {
    background-image: url(../images/site1/sprite.png);
    background-position: -185px -593px;
    width: 62px;
    height: 61px;
	
    }
.uspii__item-number:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.form_wrapper {    
	background-image: url(../images/site1/bckg1.png);
	color: #747184;
	min-height: 340px;
	text-align: center;
	margin-bottom: -30px;
    }

input {
   border: 1px solid #d9d9d9; 
   border-radius: 5px;
   font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin: 0 3px;
   padding: 15px 20px;
   
  }
.submit {
    background: #007a87;
	color: #fff;
	padding: 15px 40px;
	text-transform: uppercase;
	border: 1px solid #007a87;
	box-shadow: -5px 5px 0px 0px #b2b2b4;
	}
section {
	position: relative;
	}
.submit2-wrapper {
    text-align: center;
    }
.submit2 {
    background: #f49539;
	padding: 20px 40px;	
	border: 1px solid #f49539;
	border-bottom: 4px solid #d9d9d9;
    box-shadow: -5px 5px 0px 0px #b2b2b4;
	color: #fff;    
    }
.form_wrapper_name {    
	font-size: 18px;
	padding-top: 120px;
	padding-bottom: 20px;
    }
.menu_wrapper-name { 	
	color: #747184;
	
	text-align: center;
    }
.menu_professionals {
    font-size: 30px;
    padding-top: 120px;
    padding-bottom: 20px;
    }
h3 {
	text-align: left;
	color: #3d3e40;
	}
	p {
	text-align: left;
	
	}
.nav_columns {
    padding-top: 40px;
   
    
    }
.nav__column {
    float: left;
    width: 25%;
	padding-right: 20px;
    box-sizing: border-box;
    }
.link_nav {
    color: #77787c;
    }
	
    
footer {
    background: #33363b;
    padding-bottom: 220px;
    margin-top: 20px;   
    min-width: 1000px;
    }                   /* footer stile */
.footer__columns {    
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 960px;
}
.footer__column {    
    float: left;
    width: 25%;
	padding-right: 20px;
    box-sizing: border-box;
	    } 
.footer__column-icons { 
    color: #77787c; 
    margin-bottom: 6px;
    text-align: left;
	}                     /* text below the icons */
.footer__column-item {
    color: #efefef;
    margin-bottom: 10px;
    }
.footer__link {
    cursor: pointer;
}
.footer__column-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 10px 0;
	}
.footer__social-item_fb {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -400px;
    width: 24px;
    height: 24px;	
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_tw {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -454px;
    width: 24px;
    height: 24px;	
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_vk {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -202px;
    width: 24px;
    height: 24px;
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_ok {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -286px;
     width: 24px;
    height: 24px;
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_gl {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -510px;
     width: 24px;
    height: 24px;
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__sticky {
    background: #666;
    bottom: -1px;
    left: 0;
    position: fixed;
    width: 100%;
    color: #77787c;
    overflow: visible;
    height: 51px;
    line-height: 50px;
    z-index: 12;
	}
.copyright {
    font-weight: 700;  
	text-align: right;
    background: #202022;
}
.link, a { 
    text-decoration: none;
    cursor: pointer;
	color: #747184;
}