body {   
	margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    }
.page {
    background: #f9f9f9;
    min-width: 1000px;
    }

.width-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 1100px;
    }
.widescreen .width-wrapper {
    width: 1206px;
}	
div {
    display: block;
    } 
a:link, a:visited, a:active { 
    text-decoration: none;
    cursor: pointer;
	color: #747184;
}	
.align-center {
    color: #747184;
    text-align: center;
}
.header {
    background-color: #fff;
    }
.usp_top {
    background: #e4e4e6;
	position: relative;
    color: #747184;
    padding: 0;
	min-height: 40px;
    }
.usp__item_left {
    float: left;   
    }
.usp__item_right {
    float: right;
    }
.usp_item {    
	padding: 10px 0;
	}
.usp__item-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    }
.usp__item-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
	color: #747184;
    }
.usp__social-item_fb {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -398px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_tw {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -454px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_vk {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -202px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_ok {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -286px;
    width: 27px;
    height: 26px;
    }
.usp__social-item_gl {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -510px;
    width: 27px;
    height: 26px;
    }
.usp__column-icon {
    display: inline-block;
    vertical-align: middle;
    }
	
.logo-line-wrapper {
    min-height: 100px;
    text-align: center;
    position: relative;
    z-index: 12;
	}
.header__logo { 
    color: #747184;
    margin-right: 180px;
	padding-top: 20px;
    }
.header__logo_image {
    background-image: url(../images/site1/sprite.png);
    background-position: 0px 0px;
    width: 180px;
    height: 55px;
	position: absolute;
    top: 20px;
	}
.header__logo_title {
    font-size: 30px;     	
	}
.header__logo_text {
    font-size: 16px;
	margin-top: 20px;
	word-spacing: -1px;
	}
.user-number {    
    position: absolute;
    right: 20px;
    top: 0px;
    }          /* telefon number */

.uspii__item-number {
    display: inline-block;
    margin-left: 10px;
	padding-top: 20px;
    }
.uspii__item-text {
    color: #f39438;
 	font-size: 25px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
    }
.user-number_text {
    display: inline-block;
    color: #747184;
	text-align: left;
	vertical-align: middle;
    }
.uspii__item-number:before {
    background-image: url(../images/site1/sprite.png);
    background-position: -185px -593px;
    width: 62px;
    height: 61px;
	
    }
.uspii__item-number:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.form_wrapper {    
	background-image: url(../images/site1/bckg1.png);
	color: #747184;
	min-height: 340px;
	text-align: center;
	margin-bottom: -30px;
    }

input {
   border: 1px solid #d9d9d9; 
   border-radius: 5px;
   font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin: 0 3px;
   padding: 15px 20px;
   
  }
.submit {
    background: #007a87;
	color: #fff;
	padding: 15px 40px;
	text-transform: uppercase;
	border: 1px solid #007a87;
	box-shadow: -5px 5px 0px 0px #b2b2b4;
	}
section {
	position: relative;
	}
.submit2-wrapper {
    text-align: center;
    }
.submit2 {
    background: #f49539;
	padding: 20px 40px;	
	border: 1px solid #f49539;
	border-bottom: 4px solid #d9d9d9;
    box-shadow: -5px 5px 0px 0px #b2b2b4;
	color: #fff;    
    }
.form_wrapper_name {    
	font-size: 18px;
	padding-top: 120px;
	padding-bottom: 20px;
    }
	
.menu_wrapper-name { 	
	
    }
.menu_professionals {
    color: #747184;
    font-size: 30px;
    padding-top: 65px;
    padding-bottom: 85px;
	text-align: center;
    }

.nav__column {
    float: left;
    width: 25%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 85px;
    box-sizing: border-box;
    }
.nav__navigation-wrapper {
    border-bottom: 1px solid #77787c;
	font-size: 16px;
	}
.nav__navigation_title {    
    color: #3b3f40;
	display: inline-block;
	font-size: 16px;
    margin-left: 10px;	
	text-align: left;
	}
.nav__navigation-wrapper:before {
    background-image: url(../images/site1/sprite.png);
    background-position: 0px -124px;
    width: 46px;
    height: 43px;	
    }
.nav__navigation-wrapper:before {
    content: '';
    display: inline-block;
    vertical-align: top;	
}
.nav__navigation__cnt {
    color: #f49539; 	
    float: right;
}
.catalog-navigation {
    margin: 15px 0;
    font-size: 13px;
    list-style-type: none;
	line-height: 28px;
}
.catalog-navigation__cnt {
    color: #bbb;
    margin-left: 5px;
   }
.catalog__strong {
    color: #3b3f40;
    }
.search-button {
	background: #007a87;
	padding: 20px 40px;	
	border: 1px solid #007a87;
	border-bottom: 4px solid #006666;
    color: #fff;
	}
.history-wrapper {    
	background-image: url(../images/site1/bckg2.png);
	color: #8a8f92;
	min-height: 240px;
	margin-top: 65px;  
	text-align: center;
	
    }
.history__column {
    float: left;
    font-size: 10px;    
	box-sizing: border-box;
	padding-top: 85px;
	padding-left: 20px;	
	width: 25%;		
	text-transform: uppercase;
    }
.history__column__text {    
    display: inline-block;
	margin-left: 10px;
    text-align: left;
}
.history__column__value {
    font-size: 25px;
	font-family: Century Gothic;
    }
.history__column_specialists {
    background-image: url(../images/site1/sprite.png);
    background-position: 0px -165px;
    width: 52px;
    height: 56px;
    display: inline-block;
    vertical-align: top;	
    }
.history__column_dealings {
    background-image: url(../images/site1/sprite.png);
    background-position: -54px -165px;
    width: 52px;
    height: 56px;
    display: inline-block;
    vertical-align: top;	
    }
.history__column_recall {
    background-image: url(../images/site1/sprite.png);
    background-position: -110px -165px;
    width: 56px;
    height: 56px;
    display: inline-block;
    vertical-align: top;	
    }
.history__column_services {
    background-image: url(../images/site1/sprite.png);
    background-position: -165px -165px;
    width: 56px;
    height: 56px;
    display: inline-block;
    vertical-align: top;	
    }
.banner__color {
    background: #efefef;
	padding-bottom: 100px;
   }
.banner {
    background-image: url(../images/site1/bckg3.png);
   	min-height: 667px;	
   	width: 1050px;
}
.menu_blog {
    
    color: #747184;
    font-size: 30px;
	font-weight: 300;
    
    }
.menu_blog_background {
    background: #f7f7f7;
	padding-top: 65px;
	padding-bottom: 25px;
    text-align: center;	
    
    }

.latest_articles {	
    font-size: 16px;
    margin-top: 20px;
	
	}
.grid {
    background: #f7f7f7;
    display: block;  
    text-align: center;
	position: relative;
}
.grid-wrapper {
    margin: 0 -10px;
	padding-bottom: 25px;
    }
    
.home-section__announcement { 
    box-sizing: border-box;
	display: inline-block;       
    width: 25%;    
    margin: 0; 	
	padding: 0 10px;
    text-align: left;
    vertical-align: top;
    }
.market-news-item {
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    box-sizing: content-box;
    background: #fff;
    height: 348px;
    }
.market-img-wrapper {
    overflow: hidden;
    max-height: 350px;
    }
.vignette-img { 
    width: 100%;
    border-radius: 6px 6px 0 0;
	height: auto;
    }
.vignette-title {
    word-break: break-word;
    padding: 25px 30px 10px 30px;
    margin: 0;
    font-size: 16px;
}
.vignette-description {
    color: #7d7f7e;
    word-break: break-word;
    padding: 0 30px 30px 30px;
    margin: 0;
}
.vignette-readall {
    font-size: 12px;
    color: #a5c8ca;
    word-break: break-word;
    padding: 0 30px 30px 30px;
    margin: 0;
}
.vignette-readall a {
    color: #007a87;    
    }
	
	
	
.dotnav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}
.dotnav ul {
    display: inline-block;
}

nav ul, nav ol {
    list-style: none;
    margin: 0;
}
a:-webkit-any-link {    
    cursor: auto;
    }
.dotnav-item.current {
    top: -1px;
    left: -1px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #08c;
    background-color: transparent;
    cursor: default;
}
.dotnav li {
    list-style: none;
    margin: 0 10px;
    width: 8px;
    height: 8px;
    float: left;
    position: relative;
}
.dotnav-item {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    outline: none;
    position: absolute;
    border-radius: 50%;
    background-color: #999;
    box-sizing: content-box;
    padding: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

li {
    padding: 0;
}


	
.link_nav {
    color: #77787c;
    }
	
    
.footer-primary {
    background-color: #33363b;   
    padding-top: 40px;
    padding-bottom: 20px;
    
    }      
.footer_columns {    
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 960px;
}
.footer__column {    
    float: left;
    width: 25%;
	padding-right: 20px;
    box-sizing: border-box;
	    } 
.footer__column-icons { 
    color: #77787c; 
    margin-bottom: 6px;
    text-align: left;
	}                     /* text below the icons */
.footer__column-item {
    color: #efefef;
    margin-bottom: 10px;
    }
.footer__link {
    cursor: pointer;
}
.footer__column-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 10px 0;
	}
.footer__social-item_fb {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -400px;
    width: 24px;
    height: 24px;	
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_tw {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -454px;
    width: 24px;
    height: 24px;	
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_vk {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -202px;
    width: 24px;
    height: 24px;
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_ok {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -286px;
     width: 24px;
    height: 24px;
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__social-item_gl {
    background-image: url(../images/site1/sprite.png);    
    background-position: -734px -510px;
     width: 24px;
    height: 24px;
	border: 1px #77787c;
	border-radius: 2px;
	border-style: solid;
    }
.footer__sticky {
    background: #666;
    bottom: -1px;
    left: 0;
    position: fixed;
    width: 100%;
    color: #77787c;
    overflow: visible;
    height: 51px;
    line-height: 50px;
    z-index: 12;
	}
.copyright {
    font-weight: 700;  
	text-align: right;
    background: #202022;
}
