body {
   background: #001646;
   margin: 0;
   }
   
.table1 {
   font-family: Arial;
   width: 970px;  
   margin: 0 auto;
   border-collapse: collapse;
}
.align1 {
   height: 280px;
   text-align: left; 
  }
.align2 {
   background: black;
   color: #ffffff;
  } 
  
.table2 {
   width: 100%; 
   border: 0;  
   }  
.align3 {
   height: 30px;
   background: url(image/hand.png);
   font-weight: 600;
   font-size: 12pt;
   padding-left: 3px;
   }
   
.align4 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10pt;
   padding: 5px;
   color: #ffffff;
   text-align: justify;
   width: 770px; 
  }
p { 
   text-align: justify;
  } 
.align5 {
   height: 20px; 
   }
   
.align6 {
   text-align: center; 
   background: #103898; 
   color: #ffffff;   
   }
