table {
    border-spacing: 0 0;
	width: 100%;  
	}
td {
   padding: 5px;
   }
td.col {
   background: #ff0000;
   color: #fff;   
   }
td.col1 {
   background: #ff9900;
   color: #666;
   }
td.col2 {
   background: #ffff00;
   color: #000;
   }

