section {
    width: 600px; /* width layout */
    margin: 0 auto; /* Is centered */
    background: #FCE600; /* Color column */
   }
aside {
    float: left;
    text-align: center;
    width: 450px;	
   }
nav {
   text-align: center;
   float: left;   
   width: 150px;
   }
p {
   border: 1px black;
   }