$primary-color: black;
table {
  border: 1px solid $primary-color; /*ramka vokrug tablicy*/
  table-layout: fixed;
  width: 100%;  
  border-spacing: 2px 2px; /*rasstojanie mezhdu jachejkami*/ 
  }
td {   
  border: 1px solid $primary-color;
  padding: 3px;  
  border-width: 2px 1px 1px 2px;
  }
.col1 {
  width: 40%;
  }
.coln {
  width: 20%;
  }
caption { 
  caption-side: top;    
  }
.align {
  text-align: center; 
  }
.god {
  @extend .align;
  font-weight: 600;
  }