$font-stack: Arial, Helvetica, sans-serif;;
$primary-color: #001646;
$secondary-color: #000;
body {
   background: $primary-color;
   color: #fff;
   margin: 0;
   }
   
header {
   height: 270px;
   text-align: left;
   background: $primary-color;   
   }
  
section {
   background: $secondary-color;
   font-family: $font-stack;
   width: 970px;  
   margin: 0 auto;
   }

aside { 
   background: url(image/hand.png);
   font-weight: 700;
   float: left; /* discard action float*/
   padding-left: 5px;   
   }   
   
article {
   font-family: Verdana;
   font-size: 10pt;
   margin-left: 200px;   
   padding: 45px 5px;
   text-align: justify;  
   }

footer {
   background: #103898;
   clear: both;
   text-align: center;
   padding: 5px;       
   }
   
