/* line 1, ../sass/site1.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

/* line 7, ../sass/site1.scss */
.page {
  background: #fff;
  min-width: 1000px;
}

/* line 12, ../sass/site1.scss */
.width-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  width: 960px;
}

/* line 18, ../sass/site1.scss */
.widescreen .width-wrapper {
  width: 1206px;
}

/* line 21, ../sass/site1.scss */
div {
  display: block;
}

/* line 25, ../sass/site1.scss */
.header {
  background-color: #fff;
  margin-bottom: 17px;
}

/* line 29, ../sass/site1.scss */
.usp_top {
  background: #e4e4e6;
  position: relative;
  color: #747184;
  padding: 0;
  min-height: 40px;
}

/* line 36, ../sass/site1.scss */
.usp__item_left {
  float: left;
}

/* line 39, ../sass/site1.scss */
.usp__item_right {
  float: right;
}

/* line 42, ../sass/site1.scss */
.usp_item {
  padding: 10px 0;
}

/* line 45, ../sass/site1.scss */
.usp__item-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 50, ../sass/site1.scss */
.usp__social-item_fb {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -398px;
  width: 27px;
  height: 26px;
}

/* line 56, ../sass/site1.scss */
.usp__social-item_tw {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -454px;
  width: 27px;
  height: 26px;
}

/* line 62, ../sass/site1.scss */
.usp__social-item_vk {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -202px;
  width: 27px;
  height: 26px;
}

/* line 68, ../sass/site1.scss */
.usp__social-item_ok {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -286px;
  width: 27px;
  height: 26px;
}

/* line 74, ../sass/site1.scss */
.usp__social-item_gl {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -510px;
  width: 27px;
  height: 26px;
}

/* line 80, ../sass/site1.scss */
.usp__column-icon {
  display: inline-block;
  vertical-align: middle;
}

/* line 84, ../sass/site1.scss */
.header__logo_image {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px 0px;
  width: 180px;
  height: 55px;
  display: inline-block;
}

/* line 92, ../sass/site1.scss */
.logo-line-wrapper {
  min-height: 100px;
  text-align: center;
  position: relative;
  z-index: 12;
}

/* line 99, ../sass/site1.scss */
.uspii__item_centre {
  width: 600px;
  margin: auto;
}

/* line 104, ../sass/site1.scss */
.header__logo {
  color: #747184;
  margin-top: 20px;
}

/* line 108, ../sass/site1.scss */
.header__logo_title {
  font-size: 30px;
}

/* line 111, ../sass/site1.scss */
.header__logo_text {
  font-size: 20px;
  margin-top: 20px;
}

/* line 115, ../sass/site1.scss */
.right:before {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px 0px;
  width: 180px;
  height: 55px;
  display: inline-block;
}

/* line 122, ../sass/site1.scss */
.right:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 127, ../sass/site1.scss */
.link_nav {
  color: #77787c;
}

/* line 130, ../sass/site1.scss */
.nav_columns {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  width: 960px;
}

/* line 137, ../sass/site1.scss */
.nav__column {
  float: left;
  width: 25%;
  padding-right: 20px;
  box-sizing: border-box;
}

/* line 144, ../sass/site1.scss */
footer {
  background: #33363b;
  padding-bottom: 220px;
  margin-top: 20px;
  min-width: 1000px;
}

/* footer stile */
/* line 150, ../sass/site1.scss */
.footer__columns {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  width: 960px;
}

/* line 157, ../sass/site1.scss */
.footer__column {
  float: left;
  width: 25%;
  padding-right: 20px;
  box-sizing: border-box;
}

/* line 163, ../sass/site1.scss */
.footer__column-icons {
  color: #77787c;
  margin-bottom: 6px;
  text-align: left;
}

/* text below the icons */
/* line 168, ../sass/site1.scss */
.footer__column-item {
  color: #efefef;
  margin-bottom: 10px;
}

/* line 172, ../sass/site1.scss */
.footer__link {
  cursor: pointer;
}

/* line 175, ../sass/site1.scss */
.footer__column-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px 10px 0;
}

/* line 180, ../sass/site1.scss */
.footer__social-item_fb {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -400px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 189, ../sass/site1.scss */
.footer__social-item_tw {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -454px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 198, ../sass/site1.scss */
.footer__social-item_vk {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -202px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 207, ../sass/site1.scss */
.footer__social-item_ok {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -286px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 216, ../sass/site1.scss */
.footer__social-item_gl {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -510px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 225, ../sass/site1.scss */
.footer__sticky {
  background: #666;
  bottom: -1px;
  left: 0;
  position: fixed;
  width: 100%;
  color: #77787c;
  overflow: visible;
  height: 51px;
  line-height: 50px;
  z-index: 12;
}

/* line 237, ../sass/site1.scss */
.copyright {
  font-weight: 700;
  text-align: right;
  background: #202022;
}

/* line 242, ../sass/site1.scss */
.link, a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
