/* line 1, ../sass/site1.scss */
.web {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

/* line 7, ../sass/site1.scss */
.page {
  background: #f9f9f9;
  min-width: 1000px;
}

/* line 12, ../sass/site1.scss */
.width-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 980px;
}

/* line 18, ../sass/site1.scss */
.widescreen .width-wrapper {
  width: 1206px;
}

/* line 21, ../sass/site1.scss */
div {
  display: block;
}

/* line 24, ../sass/site1.scss */
a:link, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  color: #747184;
}

/* line 29, ../sass/site1.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 32, ../sass/site1.scss */
.align-center {
  color: #747184;
  text-align: center;
}

/* line 36, ../sass/site1.scss */
.header {
  background-color: #fff;
}

/* line 39, ../sass/site1.scss */
.usp_top {
  background: #e4e4e6;
  position: relative;
  color: #747184;
  padding: 0;
  min-height: 40px;
}

/* line 46, ../sass/site1.scss */
.usp__item_left {
  float: left;
}

/* line 49, ../sass/site1.scss */
.usp__item_right {
  float: right;
}

/* line 52, ../sass/site1.scss */
.usp_item {
  padding: 5px 0;
  white-space: nowrap;
}

/* line 56, ../sass/site1.scss */
.usp__item-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 61, ../sass/site1.scss */
.usp__item-link {
  display: inline;
  margin-left: 0px;
  color: #747184;
}

/* line 66, ../sass/site1.scss */
.usp__item-img {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -248px;
  width: 22px;
  height: 30px;
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}

/* line 75, ../sass/site1.scss */
.usp__social-item_fb {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -398px;
  width: 27px;
  height: 26px;
}

/* line 81, ../sass/site1.scss */
.usp__social-item_tw {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -454px;
  width: 27px;
  height: 26px;
}

/* line 87, ../sass/site1.scss */
.usp__social-item_vk {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -202px;
  width: 27px;
  height: 26px;
}

/* line 93, ../sass/site1.scss */
.usp__social-item_ok {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -286px;
  width: 27px;
  height: 26px;
}

/* line 99, ../sass/site1.scss */
.usp__social-item_gl {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -510px;
  width: 27px;
  height: 26px;
}

/* line 105, ../sass/site1.scss */
.usp__column-icon {
  display: inline-block;
  vertical-align: middle;
}

/* line 110, ../sass/site1.scss */
.logo-line-wrapper {
  min-height: 100px;
  text-align: center;
  position: relative;
  z-index: 12;
}

/* line 116, ../sass/site1.scss */
.header__logo {
  color: #747184;
  margin-right: 180px;
  padding-top: 20px;
}

/* line 121, ../sass/site1.scss */
.header__logo_image {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px 0px;
  width: 180px;
  height: 55px;
  position: absolute;
  top: 20px;
}

/* line 129, ../sass/site1.scss */
.header__logo_title {
  font-size: 30px;
}

/* line 132, ../sass/site1.scss */
.header__logo_text {
  font-size: 16px;
  margin-top: 20px;
  word-spacing: -1px;
}

/* line 137, ../sass/site1.scss */
.user-number {
  position: absolute;
  right: 20px;
  top: 0px;
}

/* telefon number */
/* line 143, ../sass/site1.scss */
.uspii__item-number {
  display: inline-block;
  margin-left: 10px;
  padding-top: 20px;
}

/* line 148, ../sass/site1.scss */
.uspii__item-text {
  color: #f39438;
  font-size: 25px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* line 155, ../sass/site1.scss */
.user-number_text {
  display: inline-block;
  color: #747184;
  text-align: left;
  vertical-align: middle;
}

/* line 161, ../sass/site1.scss */
.uspii__item-number::before {
  background-image: url(../images/site1/sprite.png);
  background-position: -185px -593px;
  width: 62px;
  height: 61px;
}

/* line 168, ../sass/site1.scss */
.uspii__item-number::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 173, ../sass/site1.scss */
.fp-product {
  overflow: hidden;
}

/* line 177, ../sass/site1.scss */
.section-compare {
  overflow-x: hidden;
  background: #f7f7f7;
}

/* line 182, ../sass/site1.scss */
.fp-hero-image {
  background-repeat: no-repeat;
  background-size: 1920px 455px;
  height: 455px;
  width: 1920px;
  background-image: url(../images/site1/bckg4_1.png);
  width: 100%;
  background-position: center top;
}

/* line 191, ../sass/site1.scss */
.imgwrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
}

/* line 198, ../sass/site1.scss */
.image-center-header {
  background-repeat: no-repeat;
  background-size: 828px 429px;
  margin-top: -359px;
  left: 50%;
  margin-left: -414px;
  height: 429px;
  width: 828px;
  background-image: url(../images/site1/bckg4.png);
  z-index: 25;
  position: absolute;
}

/* line 210, ../sass/site1.scss */
.form_search {
  text-align: center;
  margin-bottom: -50px;
}

/* line 214, ../sass/site1.scss */
.form-wrap {
  color: #747184;
  min-height: 330px;
}

/* line 218, ../sass/site1.scss */
.form_img {
  background-image: url(../images/site1/bckg1.png);
}

/* line 222, ../sass/site1.scss */
.submit {
  background: #007a87;
  box-shadow: -5px 5px 0px 0px #b2b2b4;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  border: none;
  width: 190px;
  border-radius: 5px;
}

/* line 232, ../sass/site1.scss */
.submit2-wrapper {
  text-align: center;
}

/* line 235, ../sass/site1.scss */
.submit2 {
  background: #f49539;
  border: none;
  border-radius: 5px;
  border-bottom: 4px solid #d9d9d9;
  box-shadow: -5px 5px 0px 0px #b2b2b4;
  color: #fff;
  padding: 20px 0;
  width: 380px;
  text-align: center;
}

/* line 247, ../sass/site1.scss */
.form_title {
  font-size: 18px;
  padding-top: 120px;
  padding-bottom: 30px;
}

/* line 252, ../sass/site1.scss */
.form_choice {
  font-size: 18px;
}

/* line 255, ../sass/site1.scss */
.form_wrapper {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* line 260, ../sass/site1.scss */
.navigation_item {
  display: inline-block;
  padding: 4px;
}

/* line 264, ../sass/site1.scss */
input[type="text"] {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 0px 15px 50px;
  width: 150px;
  margin: 0 0 0 -40px;
}

/* line 273, ../sass/site1.scss */
.navigation_button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  overflow: hidden;
  right: -6px;
  position: relative;
}

/* line 283, ../sass/site1.scss */
.button2:before {
  background-image: url(../images/site1/sprite.png);
  background-position: -25px -246px;
  width: 32px;
  height: 36px;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 292, ../sass/site1.scss */
.button3:before {
  background-image: url(../images/site1/sprite.png);
  background-position: -53px -246px;
  width: 32px;
  height: 36px;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 301, ../sass/site1.scss */
.button4:before {
  background-image: url(../images/site1/sprite.png);
  background-position: -84px -246px;
  width: 32px;
  height: 36px;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 310, ../sass/site1.scss */
.menu_professionals {
  color: #747184;
  font-size: 30px;
  padding-top: 65px;
  padding-bottom: 85px;
  text-align: center;
  margin-top: -30px;
}

/* line 319, ../sass/site1.scss */
.nav__column {
  float: left;
  width: 25%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 85px;
  box-sizing: border-box;
}

/* line 327, ../sass/site1.scss */
.nav__navigation-wrapper {
  border-bottom: 1px solid #77787c;
  font-size: 16px;
}

/* line 331, ../sass/site1.scss */
.nav__navigation_title {
  color: #3b3f40;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  text-align: left;
}

/* line 338, ../sass/site1.scss */
.nav__navigation-wrapper::before {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -124px;
  width: 46px;
  height: 43px;
}

/* line 344, ../sass/site1.scss */
.nav__navigation-wrapper::before {
  content: '';
  display: inline-block;
  vertical-align: top;
}

/* line 349, ../sass/site1.scss */
.nav__navigation__cnt {
  color: #f49539;
  float: right;
}

/* line 353, ../sass/site1.scss */
.catalog-navigation {
  margin: 15px 0;
  font-size: 13px;
  list-style-type: none;
  line-height: 28px;
}

/* line 359, ../sass/site1.scss */
.catalog-navigation__cnt {
  color: #bbb;
  margin-left: 5px;
}

/* line 363, ../sass/site1.scss */
.catalog__strong {
  color: #3b3f40;
}

/* line 366, ../sass/site1.scss */
.search-button {
  background: #007a87;
  border: 1px solid #007a87;
  border-bottom: 4px solid #006666;
  border-radius: 5px;
  color: #fff;
  padding: 20px 40px;
  width: 240px;
}

/* line 376, ../sass/site1.scss */
.history-wrapper {
  background-image: url(../images/site1/bckg2.png);
  color: #8a8f92;
  min-height: 240px;
  margin-top: 65px;
  text-align: center;
}

/* line 383, ../sass/site1.scss */
.history__column {
  float: left;
  font-size: 10px;
  box-sizing: border-box;
  padding-top: 85px;
  padding-left: 20px;
  width: 25%;
  text-transform: uppercase;
}

/* line 392, ../sass/site1.scss */
.history__column__text {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
}

/* line 397, ../sass/site1.scss */
.history__column__value {
  font-size: 25px;
  font-family: Century Gothic;
}

/* line 401, ../sass/site1.scss */
.history__column_specialists {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -165px;
  width: 52px;
  height: 56px;
  display: inline-block;
  vertical-align: top;
}

/* line 409, ../sass/site1.scss */
.history__column_dealings {
  background-image: url(../images/site1/sprite.png);
  background-position: -54px -165px;
  width: 52px;
  height: 56px;
  display: inline-block;
  vertical-align: top;
}

/* line 417, ../sass/site1.scss */
.history__column_recall {
  background-image: url(../images/site1/sprite.png);
  background-position: -110px -165px;
  width: 56px;
  height: 56px;
  display: inline-block;
  vertical-align: top;
}

/* line 425, ../sass/site1.scss */
.history__column_services {
  background-image: url(../images/site1/sprite.png);
  background-position: -165px -165px;
  width: 56px;
  height: 56px;
  display: inline-block;
  vertical-align: top;
}

/* line 433, ../sass/site1.scss */
.banner__color {
  background: #efefef;
  padding-bottom: 100px;
}

/* line 437, ../sass/site1.scss */
.banner {
  background-image: url(../images/site1/bckg3.png);
  min-height: 667px;
  width: 1000px;
}

/* line 442, ../sass/site1.scss */
.menu_blog {
  color: #747184;
  font-size: 30px;
  font-weight: 300;
}

/* line 447, ../sass/site1.scss */
.menu_blog_background {
  background: #f7f7f7;
  padding-top: 65px;
  padding-bottom: 25px;
  text-align: center;
}

/* line 454, ../sass/site1.scss */
.latest_articles {
  font-size: 16px;
  margin-top: 20px;
}

/* line 458, ../sass/site1.scss */
.grid {
  background: #f7f7f7;
  display: block;
  text-align: center;
  position: relative;
}

/* line 464, ../sass/site1.scss */
.grid-wrapper {
  margin: 0 -10px;
  padding-bottom: 90px;
}

/* line 469, ../sass/site1.scss */
.home-section__announcement {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0 10px;
  text-align: left;
  vertical-align: top;
}

/* line 478, ../sass/site1.scss */
.market-news-item {
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  box-sizing: content-box;
  background: #fff;
  height: 348px;
  box-shadow: 0 0 10px #e1e8ed;
}

/* line 486, ../sass/site1.scss */
.market-img-wrapper {
  overflow: hidden;
  max-height: 350px;
}

/* line 490, ../sass/site1.scss */
.vignette-img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  height: auto;
}

/* line 495, ../sass/site1.scss */
.vignette-title {
  word-break: break-word;
  padding: 25px 30px 10px 30px;
  margin: 0;
  font-size: 16px;
}

/* line 501, ../sass/site1.scss */
.vignette-description {
  color: #7d7f7e;
  word-break: break-word;
  padding: 0 30px 30px 30px;
  margin: -6px 0;
}

/* line 507, ../sass/site1.scss */
.vignette-readall {
  font-size: 12px;
  color: #a5c8ca;
  word-break: break-word;
  padding: 0 30px;
  margin: 0;
}

/* line 514, ../sass/site1.scss */
.vignette-readall a {
  color: #007a87;
}

/* line 518, ../sass/site1.scss */
.dotnav {
  left: 0;
  bottom: 0;
  padding-bottom: 50px;
  position: absolute;
  width: 100%;
  z-index: 20;
}

/* line 526, ../sass/site1.scss */
.dotnav ul {
  display: inline-block;
}

/* line 530, ../sass/site1.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
}

/* line 534, ../sass/site1.scss */
.dotnav li {
  list-style: none;
  margin: 0 10px;
  width: 8px;
  height: 8px;
  float: left;
  position: relative;
}

/* line 542, ../sass/site1.scss */
.dotnav-item {
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  outline: none;
  position: absolute;
  border-radius: 50%;
  background-color: #999;
  box-sizing: content-box;
  padding: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* line 557, ../sass/site1.scss */
.dotnav-item:hover {
  cursor: default;
}

/* line 560, ../sass/site1.scss */
.dotnav-item.current {
  top: -1px;
  left: -1px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #007a87;
  background-color: transparent;
}

/* line 570, ../sass/site1.scss */
.dotnav-item.current:hover {
  cursor: pointer;
}

/* line 573, ../sass/site1.scss */
li {
  padding: 0;
}

/* line 576, ../sass/site1.scss */
.link_nav {
  color: #77787c;
}

/* line 579, ../sass/site1.scss */
.network_background {
  background: #efefef;
  text-align: center;
}

/* line 583, ../sass/site1.scss */
.title_group {
  font-size: 18px;
  font-weight: 600;
  padding-top: 55px;
  text-transform: uppercase;
  color: #747184;
}

/* line 589, ../sass/site1.scss */
.network_title {
  color: #747184;
  font-weight: 300;
}

/* line 593, ../sass/site1.scss */
.page-index__socials {
  padding-top: 40px;
}

/* line 596, ../sass/site1.scss */
.social-plugin {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 260px;
}

/* line 602, ../sass/site1.scss */
.site-footer {
  box-sizing: border-box;
}

/* line 605, ../sass/site1.scss */
.footer-primary {
  background-color: #33363b;
}

/* line 608, ../sass/site1.scss */
.footer-primary {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 612, ../sass/site1.scss */
.footer-primary_columns {
  min-height: 300px;
}

/* line 615, ../sass/site1.scss */
.footer-primary__group-first {
  color: #afb0b2;
  float: left;
  margin-right: 20px;
  width: 25%;
}

/* line 621, ../sass/site1.scss */
.footer-box__header:before {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -68px;
  width: 172px;
  height: 50px;
}

/* line 627, ../sass/site1.scss */
.footer-box__header:before {
  content: '';
  display: inline-block;
  vertical-align: top;
}

/* line 632, ../sass/site1.scss */
.footer-box {
  background-color: transparent;
  padding-top: 5px;
  margin: 0;
}

/* line 638, ../sass/site1.scss */
.footer-primary__group-second {
  box-sizing: border-box;
  color: #fff;
  float: left;
  margin-right: 20px;
  width: 25%;
}

/* line 645, ../sass/site1.scss */
.footer-primary__group-third {
  box-sizing: border-box;
  color: #fff;
  float: left;
  margin-right: 20px;
  width: 25%;
}

/* line 653, ../sass/site1.scss */
.footer__column-icons {
  color: #77787c;
  margin-bottom: 6px;
  text-align: left;
}

/* text below the icons */
/* line 658, ../sass/site1.scss */
.footer__column-item {
  color: #efefef;
  margin-bottom: 10px;
}

/* line 662, ../sass/site1.scss */
.footer__link {
  cursor: pointer;
}

/* line 665, ../sass/site1.scss */
.footer__column-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px 10px 0;
}

/* line 670, ../sass/site1.scss */
.footer__social-item_fb {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -400px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 679, ../sass/site1.scss */
.footer__social-item_tw {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -454px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 688, ../sass/site1.scss */
.footer__social-item_vk {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -202px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 697, ../sass/site1.scss */
.footer__social-item_ok {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -286px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 706, ../sass/site1.scss */
.footer__social-item_gl {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -510px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 715, ../sass/site1.scss */
.footer__sticky {
  background: #666;
  bottom: -1px;
  left: 0;
  position: fixed;
  width: 100%;
  color: #77787c;
  overflow: visible;
  height: 51px;
  line-height: 50px;
  z-index: 12;
}

/* line 727, ../sass/site1.scss */
.copyright {
  font-weight: 700;
  text-align: right;
  background: #202022;
}
