@charset "UTF-8";
/* line 3, ../sass/site1_blog.scss */
.web {
  font-size: 13px;
  font-family: "ProximaNova", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  line-height: 30px;
}

/* line 12, ../sass/site1_blog.scss */
.column, .columns {
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}

/* line 16, ../sass/site1_blog.scss */
.column, .columns {
  float: left;
}

/* line 19, ../sass/site1_blog.scss */
.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 24, ../sass/site1_blog.scss */
.row::after {
  clear: both;
}

/* line 28, ../sass/site1_blog.scss */
.row::after, .row::before {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

/* line 38, ../sass/site1_blog.scss */
*, :after, :before {
  box-sizing: inherit;
}

/* line 42, ../sass/site1_blog.scss */
.-color-grey {
  background: #e4e4e6;
}

/* line 45, ../sass/site1_blog.scss */
.-color-light-grey {
  background: #efefef;
}

/* line 48, ../sass/site1_blog.scss */
.-color-white {
  background: #fff;
}

/* line 52, ../sass/site1_blog.scss */
div, footer, header, nav, section {
  display: block;
}

/* line 55, ../sass/site1_blog.scss */
a:link, a:visited, a:active {
  color: #747184;
  cursor: pointer;
  text-decoration: none;
}

/* line 60, ../sass/site1_blog.scss */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 65, ../sass/site1_blog.scss */
div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
}

/* line 69, ../sass/site1_blog.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 72, ../sass/site1_blog.scss */
.align-center, .pager, .pager span {
  text-align: center;
}

/* line 75, ../sass/site1_blog.scss */
a, b, em, i, small, strong {
  line-height: inherit;
}

/* line 78, ../sass/site1_blog.scss */
.alignleft {
  float: left;
}

/* line 81, ../sass/site1_blog.scss */
.alignright {
  float: right;
}

/* line 84, ../sass/site1_blog.scss */
.header {
  background-color: #fff;
}

/* line 87, ../sass/site1_blog.scss */
.usp_top {
  color: #747184;
  min-height: 25px;
}

/* line 91, ../sass/site1_blog.scss */
.row .large-1 {
  max-width: 71.9rem;
  margin-left: 4.0rem;
  margin-right: auto;
}

/* line 96, ../sass/site1_blog.scss */
.usp_item {
  padding: 3px 0;
  white-space: nowrap;
}

/* line 100, ../sass/site1_blog.scss */
.usp__item-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

/* line 105, ../sass/site1_blog.scss */
.usp__item-link {
  color: #747184;
  display: inline;
  margin-left: 0px;
}

/* line 110, ../sass/site1_blog.scss */
.usp__item-img {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -249px;
  display: inline-block;
  width: 25px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

/* line 119, ../sass/site1_blog.scss */
.usp__social-item, .usp__social-item_fb, .usp__social-item_tw, .usp__social-item_vk, .usp__social-item_ok, .usp__social-item_gl, .usp__social-item_lj {
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
  width: 22px;
  height: 23px;
}

/* line 126, ../sass/site1_blog.scss */
.usp__social-item_fb {
  background-image: url(../images/site1/sprite.png);
  background-position: -736px -398px;
}

/* line 131, ../sass/site1_blog.scss */
.usp__social-item_tw {
  background-image: url(../images/site1/sprite.png);
  background-position: -736px -455px;
}

/* line 136, ../sass/site1_blog.scss */
.usp__social-item_vk {
  background-image: url(../images/site1/sprite.png);
  background-position: -736px -202px;
}

/* line 141, ../sass/site1_blog.scss */
.usp__social-item_ok {
  background-image: url(../images/site1/sprite.png);
  background-position: -736px -286px;
}

/* line 146, ../sass/site1_blog.scss */
.usp__social-item_gl {
  background-image: url(../images/site1/sprite.png);
  background-position: -736px -510px;
}

/* line 151, ../sass/site1_blog.scss */
.usp__social-item_lj {
  background-image: url(../images/site1/sprite.png);
  background-position: -736px -180px;
}

/* line 156, ../sass/site1_blog.scss */
.usp__column-icon {
  display: inline-block;
  vertical-align: middle;
}

/* line 162, ../sass/site1_blog.scss */
.page-section__wrap {
  min-height: 110px;
}

/* line 165, ../sass/site1_blog.scss */
.page-section__group {
  text-align: center;
  z-index: 10;
  box-shadow: 0 1px 10px 0 rgba(51, 54, 59, 0.2);
}

/* line 170, ../sass/site1_blog.scss */
.home-section {
  flex-wrap: wrap;
  padding: 1.24rem 0;
}

/* line 174, ../sass/site1_blog.scss */
.home-section__blog-header {
  padding-left: 1.0rem;
  margin-top: 0.4rem;
}

/* line 178, ../sass/site1_blog.scss */
.home-section__featured-author {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
  clear: left;
}

/* line 185, ../sass/site1_blog.scss */
.featured-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 196, ../sass/site1_blog.scss */
.featured-author__information {
  vertical-align: middle;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* line 201, ../sass/site1_blog.scss */
.featured-author__items {
  float: right;
}

/* line 204, ../sass/site1_blog.scss */
.header__page {
  float: left;
}

/* line 207, ../sass/site1_blog.scss */
.featured-author_title {
  color: #747184;
  font-size: 2.5rem;
  font-weight: 200;
  position: relative;
  vertical-align: middle;
}

/* line 214, ../sass/site1_blog.scss */
.featured-author_title:before {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px 0px;
  width: 180px;
  height: 55px;
  top: 24px;
  margin-right: 30px;
}

/* line 222, ../sass/site1_blog.scss */
.featured-author_title:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 227, ../sass/site1_blog.scss */
.featured-author_text {
  display: inline-block;
  color: #747184;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  padding-right: 1.2rem;
}

/* line 235, ../sass/site1_blog.scss */
.featured-author-number {
  display: inline-block;
}

/* line 238, ../sass/site1_blog.scss */
.featured-author_text-number {
  color: #f39438;
  font-size: 1.85rem;
  display: inline-block;
  vertical-align: middle;
  padding-top: 0rem;
}

/* line 245, ../sass/site1_blog.scss */
.featured-author_text-number:before {
  background-image: url(../images/site1/sprite.png);
  background-position: 0 -280px;
  width: 60px;
  height: 60px;
  padding-right: 0.5rem;
}

/* line 252, ../sass/site1_blog.scss */
.featured-author_text-number:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 258, ../sass/site1_blog.scss */
.t-heading.-size-xl {
  font-size: 28px;
  color: #9a9aa4;
}

/* line 262, ../sass/site1_blog.scss */
.main-section {
  margin-top: 1.0rem;
}

/* line 265, ../sass/site1_blog.scss */
.main-section {
  position: relative;
}

/* line 268, ../sass/site1_blog.scss */
.large-9 {
  width: 68%;
}

/* line 271, ../sass/site1_blog.scss */
.large-up-3 .column {
  display: block;
  width: 45.5%;
}

/* line 275, ../sass/site1_blog.scss */
.row .row {
  margin-left: -1.0rem;
  margin-right: -1.0rem;
}

/* line 279, ../sass/site1_blog.scss */
column:first-child {
  padding-left: 0rem;
  padding-right: 1.0rem;
}

/* line 283, ../sass/site1_blog.scss */
.large-up-3 > .column:last-child {
  float: left;
}

/* line 286, ../sass/site1_blog.scss */
.category-wrap {
  background: #f9f9f9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.55rem;
  height: 35.1rem;
  overflow: hidden;
  position: relative;
}

/* line 294, ../sass/site1_blog.scss */
.category-grid-img {
  z-index: 2;
  transition: .7s .5s;
}

/* line 298, ../sass/site1_blog.scss */
.category-grid-img {
  width: 100%;
  height: 245px;
  top: 0;
  display: block;
  position: relative;
}

/* line 305, ../sass/site1_blog.scss */
.category-grid-img, .category-grid-level, .category-wrap h2, .download-img, .fig, .figsign, .section-box-title, footer .ontop {
  text-align: center;
}

/* line 308, ../sass/site1_blog.scss */
:after, :before {
  box-sizing: inherit;
}

/* line 311, ../sass/site1_blog.scss */
.category-grid-img:before {
  border-radius: 2px;
  color: #fff;
  font-size: 1.4rem;
  background: #f99b17;
  bottom: .8rem;
  min-width: 6.3rem;
  opacity: 0.8;
  position: absolute;
  right: 1.0rem;
  padding: .3rem 1.2rem;
  z-index: 10;
}

/* line 324, ../sass/site1_blog.scss */
.img_one:before {
  content: "Здоровье";
}

/* line 327, ../sass/site1_blog.scss */
.img_two:before {
  content: "Имидж";
}

/* line 330, ../sass/site1_blog.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 334, ../sass/site1_blog.scss */
.t-heading.-color-dark {
  color: #454545;
}

/* line 337, ../sass/site1_blog.scss */
.t-heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
}

/* line 345, ../sass/site1_blog.scss */
.page-section {
  text-align: left;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* line 351, ../sass/site1_blog.scss */
.category-wrap h2 {
  text-align: left;
  font-size: 22px;
  color: #535353;
  line-height: 1.1;
  padding-top: 1.2rem;
}

/* line 358, ../sass/site1_blog.scss */
.t-body.-color-dark, .t-body {
  color: #666;
}

/* line 361, ../sass/site1_blog.scss */
.t-body.-size-s {
  color: #9a9a9a;
}

/* line 364, ../sass/site1_blog.scss */
.category-grid_wrap {
  padding: 0 1.25rem 2.50rem 1.25rem;
  min-height: 14.9rem;
}

/* line 368, ../sass/site1_blog.scss */
.category-grid-descr {
  padding-top: 12px;
  overflow: auto;
  font-size: .8rem;
  z-index: 1;
  text-align: left;
  line-height: 1.3;
}

/* line 376, ../sass/site1_blog.scss */
.post_category_wrap {
  padding: 0 0.7rem 0 0.7rem;
}

/* line 379, ../sass/site1_blog.scss */
.post_category {
  border-top: solid 1px #d6d6d6;
  color: #9a9a9a;
}

/* line 383, ../sass/site1_blog.scss */
.post_category_line {
  line-height: 3.2;
  font-size: 11px;
}

/* line 387, ../sass/site1_blog.scss */
.post-meta-comments, .post-meta-views, .post-meta-date, .post-meta-author {
  background-image: url(../images/site1/sprite.png);
}

/* line 390, ../sass/site1_blog.scss */
.post-meta-date {
  background-repeat: no-repeat;
  background-position: -223px 0px;
  padding-left: 20px;
  padding-top: 0.3rem;
}

/* line 396, ../sass/site1_blog.scss */
.post-meta-views {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: -223px -25px;
  margin-right: 15px;
}

/* line 402, ../sass/site1_blog.scss */
.post-meta-comments {
  background-repeat: no-repeat;
  background-position: -223px -44px;
  margin-right: 15px;
  padding-left: 25px;
}

/* line 408, ../sass/site1_blog.scss */
.post-meta-author {
  background-repeat: no-repeat;
  background-position: -223px -65px;
  margin-right: 10px;
  padding-left: 20px;
}

/* line 414, ../sass/site1_blog.scss */
.post-meta-name {
  font-weight: 600;
}

/* line 422, ../sass/site1_blog.scss */
.columns:last-child:not(:first-child) {
  float: right;
}

/* line 428, ../sass/site1_blog.scss */
.large-3 {
  width: 26%;
}

/* line 431, ../sass/site1_blog.scss */
aside {
  margin-top: 0.7rem;
}

/* line 435, ../sass/site1_blog.scss */
input[type=text] {
  width: 230px;
  box-sizing: border-box;
  border: 1px solid #f9f9f9;
  font-size: 16px;
  background-color: #f9f9f9;
  background-image: url("../images/site1/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 20px 15px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 448, ../sass/site1_blog.scss */
input[type=text]:focus {
  width: 100%;
}

/* line 451, ../sass/site1_blog.scss */
aside .block {
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 15px 15px 10px;
  border: 1px solid #e9e8e8;
  border-radius: 3px;
}

/* line 458, ../sass/site1_blog.scss */
h2.block_title {
  font-size: 18px;
  margin: 0 0 .7rem;
  color: #9a9a9a;
  position: relative;
}

/* line 464, ../sass/site1_blog.scss */
.widget ul li img {
  float: left;
  margin: 4px;
  margin-right: 12px;
}

/* line 469, ../sass/site1_blog.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 474, ../sass/site1_blog.scss */
.site-footer {
  background-color: #33363b;
  color: #f2f2f2;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  padding-bottom: 2.5rem;
  z-index: 1;
}

/* line 483, ../sass/site1_blog.scss */
.footer__primary {
  background: #33363b;
  color: #acacac;
  padding: 30px 0 30px 0;
}

/* line 488, ../sass/site1_blog.scss */
.footer-box p {
  font-size: 12px;
  line-height: 1.0rem;
  padding-top: 0.5rem;
}

/* line 493, ../sass/site1_blog.scss */
.footer-primary__group--first {
  font-weight: 400;
  float: left;
  color: #afb0b2;
  padding: 2.15rem 0 0 0;
  width: 20%;
}

/* line 500, ../sass/site1_blog.scss */
.footer-box__header:before {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -50px;
  width: 220px;
  height: 68px;
}

/* line 506, ../sass/site1_blog.scss */
.footer-box__header:before {
  content: '';
  display: inline-block;
  vertical-align: top;
}

/* line 511, ../sass/site1_blog.scss */
.footer-box__header p {
  font-size: 13px;
  padding-top: 0.5rem;
}

/* line 515, ../sass/site1_blog.scss */
.footer__column-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px 0 0;
}

/* line 520, ../sass/site1_blog.scss */
.footer-box__content {
  padding-top: 0.8rem;
}

/* line 523, ../sass/site1_blog.scss */
.footer__social-item_fb {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -400px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 532, ../sass/site1_blog.scss */
.footer__social-item_tw {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -456px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 541, ../sass/site1_blog.scss */
.footer__social-item_vk {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -203px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 550, ../sass/site1_blog.scss */
.footer__social-item_ok {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -286px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 559, ../sass/site1_blog.scss */
.footer__social-item_gl {
  background-image: url(../images/site1/sprite.png);
  background-position: -734px -510px;
  width: 24px;
  height: 24px;
  border: 1px #77787c;
  border-radius: 2px;
  border-style: solid;
}

/* line 568, ../sass/site1_blog.scss */
.footer-primary__group--second {
  padding: 4.35rem 0 0 4.8rem;
  width: 25%;
  float: left;
}

/* line 578, ../sass/site1_blog.scss */
.footer-primary__group--fouth {
  padding: 4.4rem 0 0 0;
  width: 22%;
  float: right;
  line-height: 18px;
  color: #fff;
}

/* line 585, ../sass/site1_blog.scss */
.footer-primary__group--fouth :last-child {
  font-size: 30px;
  padding-top: 1.1rem;
}

/* line 589, ../sass/site1_blog.scss */
.footer-bottom {
  color: #73767b;
  padding: 5px 0 5px 0;
  text-align: right;
  background: #202022;
}

/* line 595, ../sass/site1_blog.scss */
.footer-bottom_img {
  background-image: url(../images/site1/sprite.png);
  background-position: 0px -222px;
  width: 100px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
