/* line 1, ../sass/ssylki_cvet.scss */
section {
  background: #333;
  color: #fff;
  padding: 14px;
}

/* line 6, ../sass/ssylki_cvet.scss */
.col {
  color: #ff0000;
}

/* line 9, ../sass/ssylki_cvet.scss */
.col1 {
  color: #05e8e8;
}

/* line 12, ../sass/ssylki_cvet.scss */
.col3 {
  color: #ffff00;
}
