/*---------  *, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-1;
	text-decoration: none;
}

section {
	

	h2 {
		width: 90%;
		margin: 2em auto 0;
		color: lighten($color-1, 35%);
		font-weight: 700;
		text-align: center;
	}

	@include MQ(L) {
		h2 {
			margin: 4em auto 0;
		}
	}
}-------------- /*

/* -------------------------------- 

Basic style

-------------------------------- */
/* line 58, ../sass/style.scss */
nav[role="navigation"] {
  text-align: center;
}

/* line 62, ../sass/style.scss */
.cd-pagination {
  width: 90%;
  max-width: 768px;
  margin: 2em auto 4em;
  text-align: center;
}
/* line 68, ../sass/style.scss */
.cd-pagination li {
  /* hide numbers on small devices */
  display: none;
  margin: 0 .2em;
}
/* line 73, ../sass/style.scss */
.cd-pagination li.button {
  /* make sure prev next buttons are visible */
  display: inline-block;
}
/* line 79, ../sass/style.scss */
.cd-pagination a, .cd-pagination span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* use padding and font-size to change buttons size */
  padding: .13em .4em;
  font-size: 1.2rem;
}
/* line 87, ../sass/style.scss */
.cd-pagination a {
  border: 1px solid #e6e6e6;
  border-radius: 0.05em;
}
/* line 91, ../sass/style.scss */
.no-touch .cd-pagination a:hover {
  background-color: #f08f06;
  color: #ffffff;
}
/* line 96, ../sass/style.scss */
.cd-pagination a:active {
  /* click effect */
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 101, ../sass/style.scss */
.cd-pagination a.disabled {
  /* button disabled */
  color: rgba(116, 113, 132, 0.4);
  pointer-events: none;
}
/* line 106, ../sass/style.scss */
.cd-pagination a.disabled::before, .cd-pagination a.disabled::after {
  opacity: .4;
}
/* line 112, ../sass/style.scss */
.cd-pagination .button:first-of-type a::before {
  content: '\00ab  ';
}
/* line 116, ../sass/style.scss */
.cd-pagination .button:last-of-type a::after {
  content: ' \00bb';
}
/* line 120, ../sass/style.scss */
.cd-pagination .current {
  /* selected number */
  background-color: #f99b17;
  border-color: #f99b17;
  color: #ffffff;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  /* line 129, ../sass/style.scss */
  .cd-pagination li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 62, ../sass/style.scss */
  .cd-pagination {
    margin: 4em auto 5.6em;
  }
}

/* -------------------------------- 

No space - remove distance between list items

-------------------------------- */
/* line 145, ../sass/style.scss */
.cd-pagination.no-space {
  width: auto;
  max-width: none;
  display: inline-block;
  border-radius: 0.05em;
  border: 1px solid #e6e6e6;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.cd-pagination.no-space::after {
  clear: both;
  content: "";
  display: table;
}
/* line 153, ../sass/style.scss */
.cd-pagination.no-space li {
  margin: 0;
  float: left;
  border-right: 1px solid #e6e6e6;
}
/* line 158, ../sass/style.scss */
.cd-pagination.no-space li:last-of-type {
  border-right: none;
}
/* line 163, ../sass/style.scss */
.cd-pagination.no-space a, .cd-pagination.no-space span {
  float: left;
  border-radius: 0;
  padding: .8em 1em;
  border: none;
}
/* line 170, ../sass/style.scss */
.cd-pagination.no-space li:first-of-type a {
  border-radius: 0.05em 0 0 0.05em;
}
/* line 174, ../sass/style.scss */
.cd-pagination.no-space li:last-of-type a {
  border-radius: 0 0.05em 0.05em 0;
}

/* -------------------------------- 

move buttons - move prev and next buttons to the sides

-------------------------------- */
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.cd-pagination.move-buttons::after {
  clear: both;
  content: "";
  display: table;
}
/* line 189, ../sass/style.scss */
.cd-pagination.move-buttons .button:first-of-type {
  float: left;
}
/* line 193, ../sass/style.scss */
.cd-pagination.move-buttons .button:last-of-type {
  float: right;
}

/* line 198, ../sass/style.scss */
.cd-pagination.no-space.move-buttons {
  width: 90%;
  max-width: 768px;
  display: block;
  overflow: hidden;
}
/* line 204, ../sass/style.scss */
.cd-pagination.no-space.move-buttons li {
  float: none;
  border: none;
}
/* line 209, ../sass/style.scss */
.cd-pagination.no-space.move-buttons a, .cd-pagination.no-space.move-buttons span {
  float: none;
}

/* -------------------------------- 

custom icons - customize the small arrow inside the next and prev buttons 

-------------------------------- */
/* line 221, ../sass/style.scss */
.cd-pagination.custom-icons .button a {
  position: relative;
}
/* line 225, ../sass/style.scss */
.cd-pagination.custom-icons .button:first-of-type a {
  padding-left: 2.4em;
}
/* line 229, ../sass/style.scss */
.cd-pagination.custom-icons .button:last-of-type a {
  padding-right: 2.4em;
}
/* line 233, ../sass/style.scss */
.cd-pagination.custom-icons .button:first-of-type a::before,
.cd-pagination.custom-icons .button:last-of-type a::after {
  content: '';
  position: absolute;
  display: inline-block;
  /* set size for custom icons */
  width: 16px;
  height: 16px;
  top: 50%;
  /* set margin-top = icon height/2 */
  margin-top: -8px;
  background: transparent url("../img/cd-icon-arrow-1.svg") no-repeat center center;
}
/* line 247, ../sass/style.scss */
.cd-pagination.custom-icons .button:first-of-type a::before {
  left: .8em;
}
/* line 251, ../sass/style.scss */
.cd-pagination.custom-icons .button:last-of-type a::after {
  right: .8em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* -------------------------------- 

custom buttons - replace prev and next buttons text with a custom icon 

-------------------------------- */
/* line 265, ../sass/style.scss */
.cd-pagination.custom-buttons a, .cd-pagination.custom-buttons span {
  vertical-align: middle;
}
/* line 269, ../sass/style.scss */
.cd-pagination.custom-buttons .button a {
  /* set custom width */
  width: 40px;
  /* image replacement */
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  color: transparent;
  background-image: url("../img/cd-icon-arrow-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 283, ../sass/style.scss */
.cd-pagination.custom-buttons .button:last-of-type a {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 286, ../sass/style.scss */
.no-touch .cd-pagination.custom-buttons .button:last-of-type a:active {
  -webkit-transform: scale(0.9) rotate(180deg);
  -moz-transform: scale(0.9) rotate(180deg);
  -ms-transform: scale(0.9) rotate(180deg);
  -o-transform: scale(0.9) rotate(180deg);
  transform: scale(0.9) rotate(180deg);
}

/* line 293, ../sass/style.scss */
.cd-pagination.no-space.custom-buttons .button:last-of-type a {
  border-radius: 0.05em 0 0 0.05em;
}

/* -------------------------------- 

animated buttons - animate the text inside prev and next buttons 

-------------------------------- */
/* line 305, ../sass/style.scss */
.cd-pagination.animated-buttons a, .cd-pagination.animated-buttons span {
  padding: 0 1.4em;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
/* line 312, ../sass/style.scss */
.cd-pagination.animated-buttons .button a {
  position: relative;
  padding: 0 2em;
}
/* line 317, ../sass/style.scss */
.cd-pagination.animated-buttons .button:first-of-type a::before,
.cd-pagination.animated-buttons .button:last-of-type a::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  right: auto;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
/* line 325, ../sass/style.scss */
.cd-pagination.animated-buttons .button:last-of-type a::after {
  -webkit-transform: translateX(-50%) rotate(180deg);
  -moz-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  -o-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
}
/* line 329, ../sass/style.scss */
.cd-pagination.animated-buttons i {
  display: block;
  height: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

/* line 337, ../sass/style.scss */
.no-touch .cd-pagination.animated-buttons .button a:hover i {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 341, ../sass/style.scss */
.no-touch .cd-pagination.animated-buttons .button:first-of-type a:hover::before {
  -webkit-transform: translateX(-50%) translateY(-50px);
  -moz-transform: translateX(-50%) translateY(-50px);
  -ms-transform: translateX(-50%) translateY(-50px);
  -o-transform: translateX(-50%) translateY(-50px);
  transform: translateX(-50%) translateY(-50px);
}

/* line 345, ../sass/style.scss */
.no-touch .cd-pagination.animated-buttons .button:last-of-type a:hover::after {
  -webkit-transform: translateX(-50%) rotate(180deg) translateY(50px);
  -moz-transform: translateX(-50%) rotate(180deg) translateY(50px);
  -ms-transform: translateX(-50%) rotate(180deg) translateY(50px);
  -o-transform: translateX(-50%) rotate(180deg) translateY(50px);
  transform: translateX(-50%) rotate(180deg) translateY(50px);
}
