/* line 4, ../sass/tablica2_5.scss */
body {
  background: #001646;
  color: #fff;
  margin: 0;
}

/* line 10, ../sass/tablica2_5.scss */
header {
  height: 270px;
  text-align: left;
  background: #001646;
}

/* line 16, ../sass/tablica2_5.scss */
section {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  width: 970px;
  margin: 0 auto;
}

/* line 23, ../sass/tablica2_5.scss */
aside {
  background: url(image/hand.png);
  font-weight: 700;
  float: left;
  /* discard action float*/
  padding-left: 5px;
}

/* line 30, ../sass/tablica2_5.scss */
article {
  font-family: Verdana;
  font-size: 10pt;
  margin-left: 200px;
  padding: 45px 5px;
  text-align: justify;
}

/* line 38, ../sass/tablica2_5.scss */
footer {
  background: #103898;
  clear: both;
  text-align: center;
  padding: 5px;
}
